.home{
    padding-top: 100px;
    margin-top: 60px;

    .inner{
        gap: 160px;

        .ranking-section{
            width: 80%;
        }
        .board-history-section{
            align-items: flex-start;
            flex-direction: row;
            gap: 80px;

            > div{
                width: 50%;

                .title-wrap{
                    align-items: flex-start;
                    margin-bottom: 40px;

                    .section-title{
                        font-size: 28px;
                    }
                }
            }
        }
    }
}