.inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }

    &.center {
        justify-content: center;
    }

    &.left {
        justify-content: flex-start;
    }

    &.right {
        justify-content: flex-end;
    }

    &.between {
        justify-content: space-between;
    }

    &.evenly {
        justify-content: space-evenly;
    }
}

.winner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .winner-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .main-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 32px;

            p {
                font-family: "gs-m";
                font-size: 28px;
                text-align: center;
            }
            .winner-desc {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 12px;
                border-radius: 0;
                box-shadow: none;

                .winner-singer {
                    a {
                        font-family: "gs-b";
                        font-size: 40px;
                        color: #f5f7ff;
                        transition: all 0.5s;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
                .winner-group {
                    font-family: "gs-l";
                    font-size: 24px;
                    color: #bcc0cf;
                }
            }
        }
        .left-content,
        .right-content {
            display: flex;
            align-items: center;
            gap: 24px;
            flex-direction: column;
            width: 25%;

            > div {
                width: 80%;
            }
        }
        .left-content {
            .share-component {
                padding: 16px;
                border-radius: 12px;

                .title {
                    margin-bottom: 20px;
                    font-family: "gs-m";
                    font-size: 16px;
                }
                .logo-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;

                    img {
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        .right-content {
            > div {
                padding: 16px;
                background-color: rgba(255, 255, 255, 0.05);
                backdrop-filter: blur(10px);
                border-radius: 12px;
                box-shadow: 0 0 20px 8px #00000030;

                .title {
                    margin-bottom: 40px;
                    font-family: "gs-m";
                    font-size: 16px;
                }
                .result {
                    font-family: "gs-l";
                    font-size: 14px;
                    text-align: right;

                    span {
                        font-family: "gs-b";
                        color: $primary;
                        text-shadow: 0 0 16px $primary;
                    }
                }
            }
        }
    }
}

.player-wraper {
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 16px;

    .music-player--wrap {
        position: relative;

        .music-thumbnail--img,
        .music-thumbnail--unload{
            width: 100%;
            max-width: 120px;
            max-height: 120px;
            border-radius: 50%;
            background-color: #000;
            box-shadow: 0px 0px 20px 16px rgb(76 76 76 / 6%);
            animation: musicStart 10s linear infinite,
                glow 2s ease-in-out infinite;
            animation-play-state: paused;
        }
        .music-thumbnail--img {
            object-fit: contain;

            &.play {
                animation-play-state: running;
            }
        }
        .music-thumbnail--unload{
            width: 160px;
            height: 160px;
        }
    }
    .music-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    
        .music-title {
            margin-bottom: 8px;
            font-family: "gs-m";
            font-size: 18px;
        }
        .music-singer {
            font-family: "gs-l";
            font-size: 18px;
            color: $gray-text;
        }
    }
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 16px;
    margin-bottom: 80px;
    background-color: $white-text;
    border-radius: 12px;
    box-shadow: 0 0 20px 8px #00000030;

    > div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        flex-grow: 1;
        width: 80%;
        min-height: 32px;

        select {
            background-color: $white-text;
            border: none;
            font-family: "gs-m";
            font-size: 18px;
            outline: none;
            cursor: pointer;
        }
        input {
            flex-grow: 1;
            width: 80%;
            height: 100%;
            background-color: $white-text;
            border: none;
            font-family: "gs-l";
            font-size: 18px;
            outline: none;
        }
    }
    button {
        padding: 6px;
        background-color: $white-text;
    }
}

.group-link-btn--wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;

    .group-link-btn {
        width: 17%;
        padding: 16px;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid #d8b4fe;
        font-family: "gs-m";
        color: #d8b4fe;
        text-align: center;
        font-weight: 600;
        transition: all 0.1s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: #f3e8ff;
            background-color: rgba(255, 255, 255, 0.05);
            border: 0.1px solid $primary-90;
            font-family: "gs-b";
            color: $primary;
            text-shadow: 0 0 16px $primary;
        }
    }
}

.board-preview {
    width: 100%;
    height: auto;
    max-height: 370px;
    padding: 20px;
    border-radius: 12px;

    .writing-wrap {
        .writing {
            display: flex;
            justify-content: space-between;
            padding: 24px 0;
            border-bottom: 1px solid #a5a5a5;

            &:last-child {
                padding-bottom: 12px;
                border: none;
            }
            .title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                width: 80%;
                font-family: "gs-m";
                color: $white-text;

                span {
                    max-width: 85%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .comment-num {
                    font-family: "gs-l";
                    font-size: 14px;
                    color: lightcoral;
                }
            }
            .date {
                width: 20%;
                font-family: "gs-l";
                font-size: 14px;
                color: $gray-text;
                text-align: right;
            }
        }
    }
}

.category-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 8px;

    p {
        font-family: "gs-l";
        font-size: 14px;
        cursor: pointer;
        user-select: none;

        &.selected {
            font-family: "gs-m";
            color: $primary;
        }
    }
    p:first-child {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            right: -8px;
            width: 0.5px;
            height: 100%;
            background-color: #a5a5a5;
        }
    }
}

.victory-history {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 370px;
    padding: 140px 20px 36px;
    border-radius: 12px;

    > div {
        width: 30%;

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            position: relative;
            margin-bottom: 20px;
            cursor: pointer;

            img {
                border-radius: 50%;
            }
            span {
                font-family: "gs-m";
                font-size: 14px;
            }
            .victory-num {
                font-family: "gs-l";
                font-size: 14px;
            }
        }
        .box {
            width: 100%;
            height: 60px;
            max-height: 60px;
            background-color: #c4bee2;

            &:nth-child(2) {
                padding-top: 12px;
                font-size: 32px;
                text-align: center;
            }
        }
    }
    .silver {
        .profile {
            img {
                box-shadow: 0 0 16px 6px #cdd0d430;
            }
            span {
                color: #cdd0d4;
            }
        }
        .box:nth-child(2) {
            border-top-left-radius: 8px;
        }
        .box:last-child {
            border-bottom-left-radius: 8px;
        }
    }
    .gold {
        .profile {
            img {
                box-shadow: 0 0 16px 6px #ffcc4930;
            }
            span {
                color: #ffcc49;
            }
        }
        .box:nth-child(2) {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
    .bronze {
        .profile {
            img {
                box-shadow: 0 0 16px 6px #c19a6b30;
            }
            span {
                color: #c19a6b;
            }
        }
        .box:nth-child(2) {
            border-top-right-radius: 8px;
        }
        .box:last-child {
            border-bottom-right-radius: 8px;
        }
    }
}

.board{
    width: 100%;
    height: auto;

    thead{
        tr{
            border-bottom: 2px solid $primary;

            th{
                padding: 16px 0;
                font-family: 'gs-b';
                font-size: 16px;
                color: $primary;
            }
        }
    }
    tbody{
        tr{
            td{
                padding: 16px 0;
                font-family: 'gs-m';
                text-align: center;
                border-bottom: 1px solid #a5a5a550;

            }
            .title-td{
                a{
                    .title{
                        margin-right: 8px;
                        font-size: 18px;
                        color: $white-text;
                    }
                    .comment-num{
                        font-size: 14px;
                        color: lightcoral;
                    }
                }
            }
            &:last-child{
                td{
                    border: none;
                }
            }
            .like-num{
                color: lightcoral;
            }
        }
    }
}

.pagination-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: auto;

    .move-btn{
        &.plus-btn{
            transform: rotate(180deg);
        }
        img{
            transition: all 0.3s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        font-family: 'gs-b';
        color: $gray-text;
        cursor: pointer;
        user-select: none;
    }
    .selected{
        border-radius: 50%;
        color: $primary;
    }
}

.person-img--wrap {
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px #00000040;
    overflow: hidden;

    .person-img {
        transition: all 0.3s;
    }
    &:hover .person-img {
        transform: scale(1.1);
    }
    &.sunday{
        animation: pastelGoldGlow 2s ease-in-out infinite alternate;
    }
}

.modal-wrap{
    position: relative;
    width: 240px;
    padding: 16px 8px;
    background-color: rgb(0 0 0 / 70%);
    border-radius: 8px;
    font-family: 'gs-l';
    font-size: 14px;
    cursor: pointer;

    .calcel-btn{
        position: absolute;
        top: 10%;
        right: 7%;
        cursor: pointer;
    }
    .text-wrap{
        text-align: center;
        line-height: 1.2;
    }
    .modal-form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 24px;

        input{
            width: 80%;
            padding: 5px;
            border: none;
            border-radius: 4px;
            outline: none;
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16%;
            padding: 4px;
            background-color: lightgray;
            border-radius: 4px;
        }
    }
}

.board-edit--btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 86px;
    height: 28px;
    border-radius: 8px;
    font-family: 'gs-l';
    font-size: 14px;
    color: $white-text;
    transition: all 0.3s;
    box-shadow: 0 0 20px 8px rgb(0 0 0 / 10%);

    &:hover{
        transform: scale(1.05);
        background-color: $primary;
    }
}

.board-edit--btn.normal{
    background-color: rgb(255 255 255 / 25%);
}

.board-edit--btn.red{
    background-color: rgb(255 0 0 / 40%);
}