@keyframes musicStart {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    0%,
    100% {
        box-shadow: 0 0 6px 2px rgba(58, 62, 64, 0.3);
    }
    50% {
        box-shadow: 0 0 16px 6px rgba(88, 91, 92, 0.5);
    }
}

@keyframes skeletonAni {
    0%,
    100% {
        background-color: rgba(255, 255, 255, 0.05);
    }
    50% {
        background-color: rgba(255, 255, 255, 11%);
    }
}

@keyframes leftRight {
    0%,
    100% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(-20deg);
    }
    66% {
        transform: rotate(20deg);
    }
}

@keyframes pastelGoldGlow {
    0% {
        box-shadow: 0 0 20px 0px #f6c445, 0 0 36px 0px #9ac1f0;
    }
    100% {
        box-shadow: 0 0 20px 8px #c6b4d8, 0 0 36px 8px #fbe7ab;
    }
}