html,
body {
    background-color: #121212;
    color: #f5f7ff;
}

body{
    // background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background: linear-gradient(to bottom, #1e1b3a, #15132a, #0e0c1f);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    .inner {
        position: relative;

        h1 a {
            font-family: "pc-b";
            text-shadow: 0 2px 10px rgba(255,255,255,0.2);
            font-size: 48px;
            color: #f5f7ff;
        }
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            position: absolute;
            right: 0;

            .link-wrap {
                a {
                    margin-right: 12px;
                    font-family: "gs-m";
                    font-size: 20px;
                    color: #d8dbe7;
                    transition: all 0.3s;

                    &:hover {
                        color: #0064ff;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .vote-timer {
                font-family: "gs-l";
                font-size: 18px;

                span{
                    font-family: "gs-m";
                    color: #a1a5b6;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 240px;
    margin-top: 80px;
    background-color: #2e313d;
}

.page-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;

    .section-title {
        font-family: "gs-m";
        font-size: 38px;
    }

    .section-desc {
        font-family: "gs-l";
        font-size: 20px;
        color: #6f7486;
    }
}
