html,
body {
    background-color: #121212;
    // color: #fff;
    padding-bottom: 120px;
}

header {
    width: 100%;
    height: 120px;
    font-family: "pc-b";
    font-size: 48px;
    color: #f5f7ff;

    .inner {
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;

            .vote-timer {
                font-family: "gs-l";
                font-size: 18px;
            }
        }
    }
}

.page-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;

    .section-title {
        font-family: "gs-m";
        font-size: 38px;
        color: #f5f7ff;
    }

    .section-desc {
        font-family: "gs-l";
        font-size: 20px;
        color: #6f7486;
    }
}
