@font-face{
    src: url('/fonts/PyeongChangPeace-Bold.otf');
    font-family: 'pc-b';
}

@font-face{
    src: url('/fonts/PyeongChangPeace-Light.otf');
    font-family: 'pc-l';
}

@font-face{
    src: url('/fonts/GmarketSansBold.otf');
    font-family: 'gs-b';
}

@font-face{
    src: url('/fonts/GmarketSansMedium.otf');
    font-family: 'gs-m';
}

@font-face{
    src: url('/fonts/GmarketSansLight.otf');
    font-family: 'gs-l';
}