* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

@font-face {
  src: url("/fonts/PyeongChangPeace-Bold.otf");
  font-family: "pc-b";
}
@font-face {
  src: url("/fonts/PyeongChangPeace-Light.otf");
  font-family: "pc-l";
}
@font-face {
  src: url("/fonts/GmarketSansBold.otf");
  font-family: "gs-b";
}
@font-face {
  src: url("/fonts/GmarketSansMedium.otf");
  font-family: "gs-m";
}
@font-face {
  src: url("/fonts/GmarketSansLight.otf");
  font-family: "gs-l";
}
html,
body {
  background-color: #121212;
  color: #f5f7ff;
  padding-bottom: 120px;
}

header {
  width: 100%;
  height: 120px;
  font-family: "pc-b";
  font-size: 48px;
  color: #f5f7ff;
}
header .inner > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
header .inner > div .vote-timer {
  font-family: "gs-l";
  font-size: 18px;
}

.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}
.title-wrap .section-title {
  font-family: "gs-m";
  font-size: 38px;
}
.title-wrap .section-desc {
  font-family: "gs-l";
  font-size: 20px;
  color: #6f7486;
}

.inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.inner.row {
  flex-direction: row;
}

.inner.column {
  flex-direction: column;
}

.inner.center {
  justify-content: center;
}

.inner.left {
  justify-content: flex-start;
}

.inner.right {
  justify-content: flex-end;
}

.inner.between {
  justify-content: space-between;
}

.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.winner .winner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-bottom: 80px;
}
.winner .winner-content .winner-img {
  border-radius: 40px;
}
.winner .winner-desc {
  font-family: "gs-l";
  font-size: 28px;
  color: #bcc0cf;
}
.winner .winner-desc .winner-singer {
  font-family: "gs-b";
  color: gold;
}

.music-player--wrap {
  position: relative;
}
.music-player--wrap .music-thumbnail--img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  margin: 32px 0;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #000;
  box-shadow: 0px 0px 20px 16px rgba(76, 76, 76, 0.06);
  animation: musicStart 10s linear infinite, glow 2s ease-in-out infinite;
  animation-play-state: paused;
}
.music-player--wrap .music-thumbnail--img.play {
  animation-play-state: running;
}
.music-player--wrap .music-thumbnail--img.pause {
  animation-play-state: paused;
}
.music-player--wrap .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/icons/play.png");
}
.music-player--wrap .play-btn.play {
  background-image: url("/icons/pause.png");
}

.music-info {
  width: 100%;
  text-align: center;
}
.music-info .music-title {
  margin-bottom: 8px;
  font-size: 32px;
}
.music-info .music-singer {
  font-size: 20px;
  color: #a5a5a5;
}

@keyframes musicStart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 20px 4px rgba(44, 53, 57, 0.3);
  }
  50% {
    box-shadow: 0 0 30px 8px rgba(44, 53, 57, 0.5);
  }
}
.table-component {
  width: 100%;
}
.table-component thead {
  background-color: #0064ff;
}
.table-component thead tr th {
  padding: 16px 0;
  font-family: "gs-m";
}
.table-component thead tr th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.table-component thead tr th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.table-component tbody tr {
  border-bottom: 1px solid #ddd;
}
.table-component tbody tr:last-child {
  border-bottom: none;
}
.table-component tbody tr td {
  padding: 16px 0;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
}
.search-bar > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 80%;
  min-height: 32px;
}
.search-bar > div select {
  border: none;
  font-family: "gs-l";
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
.search-bar > div input {
  width: 80%;
  height: 100%;
  border: none;
  font-family: "gs-l";
  font-size: 18px;
  outline: none;
}
.search-bar button {
  background-color: #fff;
}

.info-btn--wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.info-btn--wrap .info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  height: 280px;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
}
.info-btn--wrap .info-btn .group-img {
  width: 100%;
  height: 80%;
  border-radius: 12px;
}
.info-btn--wrap .info-btn .group-name {
  font-family: "gs-m";
  font-size: 20px;
  color: #000;
}

.home .inner {
  gap: 160px;
}
.home .inner .ranking-section {
  width: 80%;
}/*# sourceMappingURL=style.css.map */