* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

@font-face {
  src: url("/fonts/PyeongChangPeace-Bold.otf");
  font-family: "pc-b";
}
@font-face {
  src: url("/fonts/PyeongChangPeace-Light.otf");
  font-family: "pc-l";
}
@font-face {
  src: url("/fonts/GmarketSansBold.otf");
  font-family: "gs-b";
}
@font-face {
  src: url("/fonts/GmarketSansMedium.otf");
  font-family: "gs-m";
}
@font-face {
  src: url("/fonts/GmarketSansLight.otf");
  font-family: "gs-l";
}
html,
body {
  background-color: #121212;
  color: #f5f7ff;
}

body {
  background: linear-gradient(to bottom, #1e1b3a, #15132a, #0e0c1f);
}
body .home, body .GroupPage {
  padding-top: 100px;
  margin-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
header .inner {
  position: relative;
}
header .inner h1 a {
  font-family: "pc-b";
  text-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
  font-size: 48px;
  color: #f5f7ff;
}
header .inner > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: absolute;
  right: 0;
}
header .inner > div .vote-timer {
  font-family: "gs-l";
  font-size: 18px;
}
header .inner > div .vote-timer span {
  font-family: "gs-m";
  color: #a1a5b6;
}

footer {
  width: 100%;
  height: 240px;
  margin-top: 80px;
  background-color: #2e313d;
}

.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 80px;
}
.title-wrap .section-title {
  font-family: "gs-m";
  font-size: 38px;
}
.title-wrap .section-title:has(.more-view--btn) {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title-wrap .section-title:has(.more-view--btn) .more-view--btn {
  font-family: "gs-m";
  font-size: 14px;
  color: #8e65ab;
}
.title-wrap .section-desc {
  font-family: "gs-l";
  font-size: 20px;
  color: #878c9e;
}

.blur-box {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1882352941);
}

.skeleton {
  background-color: rgba(255, 255, 255, 0.11);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.5s;
  animation: skeletonAni 0.5s infinite;
}

@keyframes skeletonAni {
  0%, 100% {
    background-color: rgba(255, 255, 255, 0.05);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.11);
  }
}
.inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}
.inner.row {
  flex-direction: row;
}
.inner.column {
  flex-direction: column;
}
.inner.center {
  justify-content: center;
}
.inner.left {
  justify-content: flex-start;
}
.inner.right {
  justify-content: flex-end;
}
.inner.between {
  justify-content: space-between;
}

.winner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.winner .winner-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.winner .winner-content .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.winner .winner-content .main-content p {
  font-family: "gs-m";
  font-size: 28px;
  text-align: center;
}
.winner .winner-content .main-content > div {
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2509803922);
  overflow: hidden;
}
.winner .winner-content .main-content > div .winner-img {
  transition: all 0.3s;
}
.winner .winner-content .main-content > div:hover .winner-img {
  transform: scale(1.1);
}
.winner .winner-content .main-content .winner-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border-radius: 0;
  box-shadow: none;
}
.winner .winner-content .main-content .winner-desc .winner-singer a {
  font-family: "gs-b";
  font-size: 40px;
  color: #f5f7ff;
  transition: all 0.5s;
}
.winner .winner-content .main-content .winner-desc .winner-singer a:hover {
  color: #8e65ab;
}
.winner .winner-content .main-content .winner-desc .winner-group {
  font-family: "gs-l";
  font-size: 24px;
  color: #bcc0cf;
}
.winner .winner-content .left-content,
.winner .winner-content .right-content {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  width: 25%;
}
.winner .winner-content .left-content > div,
.winner .winner-content .right-content > div {
  width: 80%;
}
.winner .winner-content .left-content .share-component {
  padding: 16px;
  border-radius: 12px;
}
.winner .winner-content .left-content .share-component .title {
  margin-bottom: 20px;
  font-family: "gs-m";
  font-size: 16px;
}
.winner .winner-content .left-content .share-component .logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.winner .winner-content .left-content .share-component .logo-wrap img {
  cursor: pointer;
  transition: all 0.3s;
}
.winner .winner-content .left-content .share-component .logo-wrap img:hover {
  transform: scale(1.1);
}
.winner .winner-content .right-content > div {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1882352941);
}
.winner .winner-content .right-content > div .title {
  margin-bottom: 40px;
  font-family: "gs-m";
  font-size: 16px;
}
.winner .winner-content .right-content > div .result {
  font-family: "gs-l";
  font-size: 14px;
  text-align: right;
}
.winner .winner-content .right-content > div .result span {
  font-family: "gs-b";
  color: lightgoldenrodyellow;
}

.player-wraper {
  display: flex;
  gap: 24px;
  padding: 16px;
  border-radius: 16px;
}
.player-wraper .music-player--wrap {
  position: relative;
}
.player-wraper .music-player--wrap .music-thumbnail--img {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #000;
  box-shadow: 0px 0px 20px 16px rgba(76, 76, 76, 0.06);
  animation: musicStart 10s linear infinite, glow 2s ease-in-out infinite;
  animation-play-state: paused;
}
.player-wraper .music-player--wrap .music-thumbnail--img.play {
  animation-play-state: running;
}
.player-wraper .music-player--wrap .music-thumbnail--img.pause {
  animation-play-state: paused;
}
.player-wraper .music-player--wrap .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/icons/play.png");
}
.player-wraper .music-player--wrap .play-btn.play {
  background-image: url("/icons/pause.png");
}

.music-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.music-info .music-title {
  margin-bottom: 8px;
  font-family: "gs-m";
  font-size: 18px;
}
.music-info .music-singer {
  font-family: "gs-l";
  font-size: 18px;
  color: #878c9e;
}

@keyframes musicStart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 6px 2px rgba(58, 62, 64, 0.3);
  }
  50% {
    box-shadow: 0 0 16px 6px rgba(88, 91, 92, 0.5);
  }
}
.table-component {
  width: 100%;
}
.table-component thead {
  background-color: #8e65ab;
}
.table-component thead tr th {
  padding: 16px 0;
  font-family: "gs-m";
}
.table-component thead tr th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.table-component thead tr th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.table-component tbody tr {
  border-bottom: 1px solid #ddd;
}
.table-component tbody tr:last-child {
  border-bottom: none;
}
.table-component tbody tr td {
  padding: 16px 0;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 16px;
  margin-bottom: 80px;
  background-color: #f5f7ff;
  border-radius: 12px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.1882352941);
}
.search-bar > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex-grow: 1;
  width: 80%;
  min-height: 32px;
}
.search-bar > div select {
  background-color: #f5f7ff;
  border: none;
  font-family: "gs-m";
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
.search-bar > div input {
  flex-grow: 1;
  width: 80%;
  height: 100%;
  background-color: #f5f7ff;
  border: none;
  font-family: "gs-l";
  font-size: 18px;
  outline: none;
}
.search-bar button {
  padding: 6px;
  background-color: #f5f7ff;
}

.group-link-btn--wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}
.group-link-btn--wrap .group-link-btn {
  width: 17%;
  padding: 16px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #d8b4fe;
  font-family: "gs-m";
  color: #d8b4fe;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.group-link-btn--wrap .group-link-btn:hover {
  background-color: #f3e8ff;
  color: #8e65ab;
}

.board-preview {
  width: 100%;
  height: auto;
  max-height: 370px;
  padding: 20px;
  border-radius: 12px;
}
.board-preview .category-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 8px;
}
.board-preview .category-wrap p {
  font-family: "gs-l";
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.board-preview .category-wrap p.selected {
  font-family: "gs-m";
  color: #8e65ab;
}
.board-preview .category-wrap p:first-child {
  position: relative;
}
.board-preview .category-wrap p:first-child:before {
  content: "";
  position: absolute;
  right: -8px;
  width: 0.5px;
  height: 100%;
  background-color: #a5a5a5;
}
.board-preview .writing-wrap .writing {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #a5a5a5;
}
.board-preview .writing-wrap .writing:last-child {
  padding-bottom: 12px;
  border: none;
}
.board-preview .writing-wrap .writing .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 80%;
  font-family: "gs-m";
  color: #f5f7ff;
}
.board-preview .writing-wrap .writing .title span {
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board-preview .writing-wrap .writing .title .comment-num {
  font-family: "gs-l";
  font-size: 14px;
  color: lightcoral;
}
.board-preview .writing-wrap .writing .date {
  width: 20%;
  font-family: "gs-l";
  font-size: 14px;
  color: #878c9e;
  text-align: right;
}

.victory-history {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-height: 370px;
  padding: 140px 20px 50px;
  border-radius: 12px;
}
.victory-history > div {
  width: 30%;
}
.victory-history > div .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
.victory-history > div .profile img {
  border-radius: 50%;
}
.victory-history > div .profile span {
  font-family: "gs-m";
  font-size: 14px;
}
.victory-history > div .profile .victory-num {
  font-family: "gs-l";
  font-size: 14px;
}
.victory-history > div .box {
  width: 100%;
  height: 60px;
  max-height: 60px;
  background-color: #c4bee2;
}
.victory-history > div .box:nth-child(2) {
  padding-top: 12px;
  font-size: 32px;
  text-align: center;
}
.victory-history .silver .profile img {
  box-shadow: 0 0 16px 6px rgba(205, 208, 212, 0.1882352941);
}
.victory-history .silver .profile span {
  color: #cdd0d4;
}
.victory-history .silver .box:nth-child(2) {
  border-top-left-radius: 8px;
}
.victory-history .silver .box:last-child {
  border-bottom-left-radius: 8px;
}
.victory-history .gold .profile img {
  box-shadow: 0 0 16px 6px rgba(255, 204, 73, 0.1882352941);
}
.victory-history .gold .profile span {
  color: #ffcc49;
}
.victory-history .gold .box:nth-child(2) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.victory-history .bronze .profile img {
  box-shadow: 0 0 16px 6px rgba(193, 154, 107, 0.1882352941);
}
.victory-history .bronze .profile span {
  color: #c19a6b;
}
.victory-history .bronze .box:nth-child(2) {
  border-top-right-radius: 8px;
}
.victory-history .bronze .box:last-child {
  border-bottom-right-radius: 8px;
}

.chart-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}
.chart-legend > li span:first-child {
  margin-right: 6px;
}
.chart-legend > li span:last-child {
  font-family: "gs-m";
}

.chart-tooltip {
  padding: 16px;
  border-radius: 8px;
}
.chart-tooltip .time {
  margin-bottom: 12px;
  font-family: "gs-l";
  font-size: 20px;
}
.chart-tooltip > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  font-family: "gs-m";
  font-size: 14px;
}

.blind-content, .collecting-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 400px;
  border-radius: 16px;
}

.blind-content {
  flex-direction: column;
}
.blind-content p:first-child {
  margin-bottom: 14px;
  font-family: "gs-m";
  font-size: 38px;
}
.blind-content p:nth-child(2) {
  margin-bottom: 40px;
  font-family: "gs-l";
  font-size: 24px;
  color: #878c9e;
}
.blind-content .blind-rank--wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-family: "gs-m";
  font-size: 18px;
}
.blind-content .blind-rank--wrap .name {
  margin-right: 8px;
}

.collecting-content {
  font-family: "gs-b";
  font-size: 48px;
}

.home .inner {
  gap: 160px;
}
.home .inner .ranking-section {
  width: 80%;
}
.home .inner .board-history-section {
  align-items: flex-start;
  flex-direction: row;
  gap: 80px;
}
.home .inner .board-history-section > div {
  width: 50%;
}
.home .inner .board-history-section > div .title-wrap {
  align-items: flex-start;
  margin-bottom: 40px;
}
.home .inner .board-history-section > div .title-wrap .section-title {
  font-size: 28px;
}
.home .inner .board-preview-skeleton {
  width: 100%;
}
.home .inner .board-preview-skeleton > div {
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 24px 0;
}
.home .inner .board-preview-skeleton > div > div {
  height: 12px;
  border-radius: 4px;
}
.home .inner .board-preview-skeleton > div div:first-child {
  width: 90%;
}
.home .inner .board-preview-skeleton > div div:last-child {
  width: 10%;
}

.GroupPage .inner {
  align-items: flex-start;
}
.GroupPage .inner .group-img {
  border-radius: 16px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2509803922);
}/*# sourceMappingURL=style.css.map */